<div class="col-md-6 mx-auto">
    <div class="categories">
        <%= render @groups %>
    </div>

    <%= link_to "Add New Category", new_group_path,  class: " btn btn-default  bg-gradient mb-3 w-100 btn-lg mt-4" %>
</div>