/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@font-face {
  font-family: 'Proxima Nova';
  src: url('/assets/Proxima-Nova-Font.otf') format('truetype');
}

body {
  font-family: 'Proxima Nova', sans-serif !important;
  background-color: #f0f2f1;
  color: #434b54 !important;
  margin: 0;
}

a {
  text-decoration: none;
  color: #3778c2;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.categories a {
  color: #434b54;
}

.btn {
  border-radius: 0;
}

.btn-default {
  color: #fff;
  background-color: #5fb523;
}

.btn-primary {
  color: #fff;
  background-color: #3778c2 !important;
}

.btn-outline-primary {
  color: #3778c2;
  background-color: transparent;
  border-color: #3778c2 !important;
}

.splash {
  height: calc(100vh - 100px);
}

.splash-logo {
  height: calc(100vh - 400px);
}

.navbar {
  background: #3778c2;
  background: linear-gradient(0deg, rgba(41,93,164,1) 0%, rgba(55,120,194,1) 100%);
  padding: 20px 0;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  display: none;
}

.bars {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  width: 28px;
}

.bars .bar-item {
  border: 2px solid #fff;
  border-radius: 2px;
  transition: all 500ms ease-in-out 100ms;
}

.page-title {
  color: #fff;
  font-size: 20px;
  margin: 0;
}

input,
select {
  border-radius: 0 !important;
  border-top: 1px !important;
  border-right: 1px !important;
  border-left: 1px !important;
}

.back {
  color: #3778c2;
}

.title {
  font-size: 18px;
  font-weight: 400 !important;
  color: #86898e;
}

.total {
  font-size: 17px !important;
  color: #545c67;
  font-weight: bold;
}

.date {
  color: #86898e;
  font-size: 15px;
}
